<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leo.framework">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true" android:process="system" android:supportsRtl="true" >
        <meta-data android:name="com.samsung.android.icon_container.has_icon_container" android:value="true" />
        <meta-data android:name="android.max_aspect" android:value="2.1" />
        <activity android:name=".framework">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="leorom.intent.category.BATTERY_MODULE"/>
            </intent-filter>
        </activity>
    </application>
</manifest>